{% extends "base.html" %}

{% block content %}
<div class="hero d-flex justify-content-center align-items-center">
        <div class="hero-content text-center">
            <h1 class="fw-bold">Task Manager</h1>
            <p class="lead">Create, distribute and track your tasks.</p>
        </div>
    </div>

    <!-- Stats Section -->
    <div class="container">
        <div class="stats row text-center shadow-lg p-4">
            <div class="col-md-4">
                <h2 class="fw-bold">{{ num_projects }}+</h2>
                <p class="text-muted">Projects</p>
            </div>
            <div class="col-md-4">
                <h2 class="fw-bold">{{ num_teams }}+</h2>
                <p class="text-muted">Teams</p>
            </div>
            <div class="col-md-4">
                <h2 class="fw-bold">{{ num_workers }}</h2>
                <p class="text-muted">Workers</p>
            </div>
        </div>
    </div>
  

{% endblock %}