{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Teams
    <a href="{% url 'task:team-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if team_list %}
    {% for team in team_list %}

      <div class="container mt-sm-5">
        <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl"
             style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desktop.jpg');"
             loading="lazy">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 ms-lg-5">
                <h4 class="text-white">Our team has {{ team.worker_count }} members</h4>
                <h1 class="text-white">{{ team.name }}</h1>
                <a href="{% url 'task:team-detail' pk=team.id %}" 
                   class="nav-link text-white icon-move-right">
                  Read docs
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  {% else %}
    <p>There are no teams in the service.</p>
  {% endif %}
{% endblock %}